numpy
botocore
python-jose
opencv-python
git+git://github.com/thejohnhoffer/minerva-scripts@a045dd9f04df25a5635222d150bd8edbf3250af9#egg=minerva-scripts
git+git://github.com/thejohnhoffer/minerva-lib-python@6eb9a845b8fe62475e1de32e7b14949e23cd7621#egg=minerva-lib
